body {
    background-color: #f0f0f0;
    background-image: url("data:image/svg+xml,<svg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h60v1H0zm0 0v60h1V0z' fill='%23000000' fill-opacity='0.03'/></svg>");
    background-size: 60px 60px;
    font-family: "Noto Sans", sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}
.box div {
    width: 500px;
    margin: 60px;
    text-align: left;
    border-radius: 12px;
    border: 2px solid #9d7bc4;
    box-shadow: 16px 16px 32px rgba(157, 123, 196, 0.25);
    background: linear-gradient(135deg, #f0f2f5 0%, #eeebf2 70%, #eeebf2 100%);
    transition: 250ms;
}

.box div:hover {
    transform: scale(1.05);
    transition: 250ms;
    box-shadow: 16px 16px 32px rgba(157, 123, 196, 0.5);
}
hr {
    border: none;
    height: 2px;
    background-color: #9d7bc4;
    color: #202020;
}
h1 {
    text-align: center;
    font-size: 70px;
    color: #202020;
    font-weight: 500;
}
h5 {
    text-align: center;
    font-size: 24px;
    color: #252525;
    font-weight: 400;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
li {
    padding-left: 20px;
    position: relative;
}
li.checkmark::before {
    content: "";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    background-image: url("assets/check.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
li.xmark::before {
    content: "";
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    background-image: url("assets/remove.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
li {
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
    font-size: 20px;
    color: #363636;
}
